@media (min-width: 1120px) {
    .team-container {
        max-width: 1158px;
        .team-players {
            width: calc((100% / 2) - 1em);
            padding: 4em 1.5em 2em 1.5em;
        }

        .centered-text {
            padding: 0 2.1em;
        }


}
}