@media (min-width: 800px) {
  // header section begins
  header .header-nav {
    .mobile {
      display: flex;
    }

    .mobile.right {
      display: inline-block;
    }

    .hamburger {
      display: none;
    }

    .mobile a,
    .mobile i {
      padding: 0.5em 1em;
    }

    i {
        margin-left: 0.46em;
    }
  }

  // .intro section begins
  .intro .flex-container {
    display: flex;
  }

  // blog page --- comment section
  .comments h2,
  .leave-comment h2 {
    text-align: start;
      font-size: clamp(0.5rem, 1rem + 3vw , 1.7rem);
  }

  .comments {
    .comment {
      flex-direction: row;
      align-items: flex-start;

      .img-container {
        margin: 1.5em 1em 2em 0;
      }

      .reply-container {
        width: 80%;
        height: 175px;
      }

      // pseudo element tooltip styles
      .reply-container::before {
      border-top: solid transparent 7px;
      border-right: solid rgb(244, 244, 244) 16px;
      border-bottom: solid transparent 7px;
      top: 10px;
      left: -23px;
      }
    }
  }

  // CONTACT.HTML -- form responsiveness --
  // BLOG.HTML -- form responsiveness --
  .get-in-touch,
  .leave-comment {
    h3 {
        text-align: start;
        border-bottom: none;
        padding-bottom: 0;
    }

    p {
        text-align: start;
    }

    #userName,
    #userEmail,
    #userSubject {
      width: calc((100% / 3) - 2em);
    }

    form {
      gap: 2em;
    }
  }

  // footer 
  
}
