@media (min-width: 900px) {
    .team-container {
        .team-players {
            width: calc(((2 / 3) * 100%) - 0.7em);
            margin: 0;
            }

        .centered-text {
            padding: 0 0.5em;
            }
        
        .players-wrapper {
            max-width: 700px;

            h2 {
                margin: 1.5em 0;
                text-align: start;
            }

            p {
                margin: 0 0 1.5em 0;
            }
        }

    } 

    // INDEX.HTML footer 
    footer {
        .flex-footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .contact {
                align-items: start;
                text-align: start;
            }

            .recent-posts {
                text-align: start;
            }

            .twitter-widget {
                .button-input-styling {
                    justify-content: flex-end;
                }

                h3 {
                    align-self: flex-end;
                }

            }

        }
    }


    // BLOG PAGE MEDIA STYLES
    .blog-header {
    background-image: url(../../assets/blog-1.jpeg);
    background-size: cover;
    background-position: 50% 5%;
}

.blog {
    .breadcrumbs {
        text-align: left;
        margin-left: 0.4em;
        margin-bottom: 6em;
    }

    .title {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% / 4);
        border-bottom: none;
        padding: 0;

        .name-title {
            margin-left: 1em;
        }
    }

    .rest-of-profile {
        width: 75%;
        align-items: center;
        padding: 0;
        justify-content: flex-end;
        gap: 5em;
        padding-right: 2em;

        .tags {
            display: inline;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        padding-bottom: 2.2em;
        border-bottom: 2px solid #dbdbdb;
        margin-bottom: 4em;
    }

    .social-links {
        .tags-mobile {
            display: none;
        }
    }

}

.related-posts {
    h2 {
        margin-bottom: 0em;
        text-align: start;
    }

    .article-gallery ul {
        flex-direction: row;
        justify-content: space-between;

        li {
            width: calc(100% / 3);
        }

        .article {
            width: 100%;
        }
    }

}


    // CONTACT.HTML --- .contact-details styling begin
    .contact-details {
        .details-title {
            margin: 0 auto 0 0;
            h3,
            p {
                text-align: start;
            }
        }


    }

    .contact-types ul {
        flex-direction: row;
        align-items: baseline;
        margin: 3.5em 0;

        li {
            .phone,
            .address {
                border-bottom: none;
                padding-bottom: 0;
                border-right: 2px solid #dbdbdb;
                padding-right: 3em;
            }

            div {
                text-align: start;
                height: 230px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    text-align: inherit;
                }
            }
        }
    }

}