@media (min-width: 930px) {
    .team-container {
        .team-players {
            width: calc((100% / 2) - 1em);
            padding: 0 1.5em 0.5em 1.5em;
        }

        li {
            width: calc((100% / 4) - 1.5em);
        }

    }

    // .products section
    .products-spacer {
        display: flex;
        justify-content: flex-end;
    }

    ul.products-container {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

        .product {
            margin: 2.1em 0;
            width: 50%;
        }
    }

    .products {
        max-width: 1400px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        justify-content: flex-end;
    }

}