// Main begins
// typography
.blog h2,
.related-posts h2,
.comments h2,
.leave-comment h2 {
    @include myFont($secondaryFont, clamp(0.5rem, 1rem + 3vw , 2.8rem), bold, 1.8px, inherit, inherit);
}

.blog-header {
    background-image: url('../../assets/blog-1.jpeg');
    background-size: cover;
    background-position: 2% 50%;
    min-height: 85vh;
    padding: 20px 0;
    margin: 0 auto;
}

// general section styling
.blog,
.related-posts,
.leave-comment {
    padding: 6em 0 4em 0;
}

//  .blog section begins
.blog {
    background-color: $white;

    h2 {
        text-align: center;
        line-height: 1.2;
        text-transform: uppercase;
        font-size: clamp(0.5rem, 1rem + 3vw , 3.1279rem);
    }

    .breadcrumbs {
        text-transform: none;
        text-align: center;
        padding: 1em 0;
    }

    .breadcrumbs a:nth-child(-n+2) {
        color: #C2C2C2;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1em;
        padding-bottom: 1em;
        border-bottom: 2px solid #dbdbdb;
    }

    .img-container {
        width: 100px;
        
        img {
            border-radius: 50%;
        }
    }

    .rest-of-profile {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        text-align: center;
        padding-top: 1em;

        .tags {
            display: none;
        }
    }

    .text-content {
        p {
            margin: 2em 0;
        }

        .bolded {
            font-weight: 700;
        }
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        ul {
            display: flex;
            gap: 0.1em;

            li {
                padding: 0.6em;
            }
        }
    }
}

// .related-posts section begins
.related-posts {
    background-color: $white;

    h2 {
        text-align: center;
        border-bottom: 2px solid #dbdbdb;
        padding-bottom: 1.2em;
    }

    .article-gallery ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        padding: 3em 0;

        .article {
            width: 80%;
            margin: 0 auto;
        }

        .article p {
            margin: 0.6em 0 0 0;
        }
    }
}

// .comments section begins
.comments {
    background-color: $white;

    h2 {
        text-align: center;
        border-bottom: 2px solid #dbdbdb;
        padding-bottom: 1.2em;
    }

    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3em 0;
    }

    .img-container {
        width: 100px;

        img {
            margin: 0 auto;
        }
    }

    .reply-container {
        background: rgb(244, 244, 244);
        margin: 1.5em 0 2em 0;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        position: relative;

        .name-btn {
            display: flex;
            align-items: center;
            gap: 0.7em;
            h3 {
                font-size: 0.75rem;
            }

            button {
                background: transparent;
                border: none;
                text-transform: none;
                cursor: pointer;
                font-weight: normal;
            }

            button::before {
                content: '-';
                margin-right: 3px;
            }
        }

        p:nth-child(3){
            font-size: 0.6rem;
        }
    }

    .reply-container::before {
        content: '';
        height: 0;
        width: 0;
        border-left: solid transparent 7px;
        border-right: solid transparent 7px;
        border-bottom: solid rgb(244, 244, 244) 16px;
        position: absolute;
        top: -13px;
        right: 48%;
    }


}

.leave-comment {
    background-color: $white;
    h2 {
        text-align: center;
        border-bottom: 2px solid #dbdbdb;
        padding-bottom: 1.2em;
    }

   form {
       padding: 3em 0;
       display: flex;
       flex-wrap: wrap;

       input {
           width: 100%;
           border: none;
           border-bottom: 2px solid #dbdbdb;
           padding: 2em 0 1em 0;
       }

       textarea {
           border: none;
           border-bottom: 2px solid #dbdbdb;
           width: 100%;
           resize: none;
           padding: 2em 0 1em 0;
       }

       button {
           width: 100%;
           background: transparent;
           border: none;
           border-bottom: 2px solid #dbdbdb;
           padding: 2em 0 0.3em 0;
           margin: 0 auto;
           font-weight: normal;
       }

       input::placeholder,
       textarea::placeholder,
       button {
           color: #7c7c7c;
       }
   }

}

