/* General Styles */
// body {
//     background-image: 
//         linear-gradient(to right, rgb(240, 240, 240)),
//         linear-gradient(to right, rgb(238, 238, 238)),
//         linear-gradient(to right, rgb(236, 236, 236));
//         background-blend-mode: difference;
// }

a {
    text-decoration: none;
    color: inherit;
}

// responsive image
img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

// for content on large/small screens
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

